<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to our app</h1>
        <a ui-sref="home.sign-in">Login Here</a>
        <a ui-sref="home.logout">Log Out</a>
        <div ui-view class="fade-in-up"/>
    </div>

    <script src="/public/libs/jquery/jquery.min.js"></script>
    <script src="/public/libs/jquery/jquery.bpopup.min.js"></script>
    <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/libs/angular/angular.min.js"></script>
    <script src="/public/libs/angular-resource/angular-resource.min.js"></script>
    <script src="/public/libs/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="/public/libs/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="/public/js/appRoutes.js"></script>
    <script src="/public/js/app.js"></script>
    <!-------for services--------------------------->
    <script src="/public/js/services/user-service.js"></script>
    <script src="/public/js/services/auth-service.js"></script>
    <!------for cotroller------------------------------->
    <script src="/public/js/controllers/auth-controller.js"></script>
    <script src="/public/js/controllers/user-controller.js"></script>


    <script type="text/javascript">
        angular.element(document).ready(function() {
            angular.bootstrap(document, [ 'loginApp' ]);
        });
    </script>
</body>
</html>