<!DOCTYPE html>
<html class="full">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTML5 responsive website tutorial</title>
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link href="/public/libs/lightbox/lightbox.css" rel="stylesheet" />
    <link href="/public/css/custom/header.css" rel="stylesheet" />
    <link href="/public/css/custom/findshop.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="header" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <a ui-sref="home.homepage">
                    <img src="/public/images/Logo-top-banner.png" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6 col-xs-12" ng-hide="changeHeader">
                <div class="hidden-xs" style="height: 40px;"></div>
                <div class="visible-xs" style="height: 15px;"></div>
                <div class="user-login">
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-4 col-xs-6">
                            <a ui-sref="home.sign-up" id="btnRegister" class="btn btn-block btn-default"><span class="arrow"></span>Register</a>
                            <span class="arrow"></span>
                        </div>
                        <div class="col-sm-4 col-xs-6" id="sign-in">
                            <a ui-sref="home.sign-in" class="btn btn-block btn-default"><span class="arrow"></span>Sign in</a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12" ng-show="changeHeader">
                <div class="hidden-xs" style="height: 40px;"></div>
                <div class="visible-xs" style="height: 15px;"></div>
                <div class="user-login">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6" id="my-profile">
                            <button type="button" class="btn btn-block btn-default">
                                <span class="arrow"></span>
                                My Profile
                            </button>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topmenu">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#buildadvisor-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="buildadvisor-navbar" class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li id="mnHome">
                        <a ui-sref="home.homepage"><img class="button-image" src="/public/images/navbar-imgs/nav-icon-home.png" alt="nav-icon-home"></a>
                    </li>
                    <li id="mnSearch">
                        <a ui-sref="home.findyourshop"><img class="button-image" src="/public/images/navbar-imgs/nav-icon-find.png"></a>
                    </li>
                    <li id="mnWriteReview">
                        <a href="#"><img class="button-image" src="/public/images/navbar-imgs/nav-icon-rate.png"></a>
                    </li>
                    <li id="mnFAQ">
                        <a href="#"><img class="button-image" src="/public/images/navbar-imgs/nav-icon-faq.png"></a>
                    </li>
                    <li id="mnTIP">
                        <a href="#"><img class="button-image" src="/public/images/navbar-imgs/nav-icon-tips.png"></a>
                    </li>
                    <li id="mnAboutUs" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="button-image" src="/public/images/navbar-imgs/nav-icon-about.png">
                        </a>
                        <ul id="subAboutUs" class="dropdown-menu">
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">News &amp; Media</a></li>
                            <li><a href="#">Contents Integrity Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="full">
    <div class="container">
        <div ui-view></div>
        <div style="height:1px; background-color:#fff; margin:20px 0;"></div>
    </div>
</div>
<script src="/public/libs/jquery/jquery.min.js"></script>
<script src="/public/libs/jquery/jquery.bpopup.min.js"></script>
<script src="/public/libs/jquery/jquery.searchable-1.1.0.min.js"></script>
<script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/libs/angular/angular.min.js"></script>
<script src="/public/libs/angular-resource/angular-resource.min.js"></script>
<script src="/public/libs/angular-ui-router/angular-ui-router.min.js"></script>
<script src="/public/libs/angular-local-storage/angular-local-storage.min.js"></script>
<script src="/public/js/app-routes.js"></script>
<script src="/public/js/app.js"></script>
<!-------for services--------------------------->
<script src="/public/js/services/user-service.js"></script>
<script src="/public/js/services/auth-service.js"></script>
<!------for controller------------------------------->
<script src="/public/js/controllers/auth-controller.js"></script>
<script src="/public/js/controllers/user-controller.js"></script>
<script src="/public/js/controllers/reg-controller.js"></script>
<script src="/public/js/controllers/search-controller.js"></script>
<script src="/public/js/controllers/header-controller.js"></script>
<script type="text/javascript">
    angular.element(document).ready(function() {
        angular.bootstrap(document, [ 'shopAdvisor' ]);
    });
</script>
</body>
</html>