<div id="forgotbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Forgot your password?</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" ui-sref="home.sign-in">Sign In</a></div>
        </div>
        <div class="panel-body" >
            <div id="form-olvidado">
                <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
                    <fieldset>
                <span class="help-block">
                  Email address you use to log in to your account
                  <br>
                  We'll send you an email with instructions to choose a new password.
                </span>
                        <div class="form-group input-group">
                  <span class="input-group-addon">
                    @
                  </span>
                            <input class="form-control" placeholder="Email" name="email" type="email" required="" ng-model="email"></div>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado" ng-click="forgot(email)">
                            Continue
                        </button>
                        <p class="help-block">
                            <a class="text-muted" ui-sref="home.sign-up" id="sign-up"><small>Sign Up</small></a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>